{{> private-navbar}}
<div class="container">
  <h1 class="text-center">Welcome {{ firstName }} {{ lastName }}!</h1>
  
    {{#each posts as |post|}}
      {{> post-card}}
    {{/each}}
  </div>
</div>
