{{> public-navbar}}  
    <div class="position-relative login-container">
      <div class="position-absolute top-50 start-50 translate-middle w-75">
        <h3 class="bg-dark text-light mx-5 p-3 text-center">Welcome Back!</h3>
        <form class="mx-5 p-3 border d-flex flex-column">
          <div class="mb-3">
            <label for="email" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
            />
          </div>
          <div class="mb-2">
            <label for="password" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="password"
            />
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
          <p class="text-center mb-3 pt-3">
            Not registered?
            <a href="/signup" class="link-primary">Sign up here!</a>
          </p>
        </form>
      </div>
    </div>