{{> private-navbar}}
<div class="position-relative new-post-container">
      <div class="position-absolute top-50 start-50 translate-middle w-75">
        <h3 class="bg-dark text-light mx-5 p-3 text-center">
          {{#if edit}}
            Edit Post
          {{else}}
            Create A New Post
          {{/if}}
        </h3>
        <form class="mx-5 p-3 border d-flex flex-column" id="new-post">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="Title"
              {{#if edit}}
            value="{{post.title}}"
            {{/if}}
            />
            <label for="title">Title</label>
          </div>

          <div class="mb-3">
            <textarea
              class="form-control"
              id="body"
              rows="8"
            >{{#if edit}}
            {{post.body}}
            {{/if}}</textarea>
          </div>
          <div class="text-center d-grid gap-2">
            <button type="submit" class="btn btn-dark btn-lg">Submit</button>
            <a
              type="button"
              class="btn btn-outline-dark btn-lg"
              href="/dashboard"
              >Cancel</a
            >
          </div>
        </form>
      </div>
    </div>