{{> public-navbar}}
    <div class="position-relative signup-container">
      <div class="position-absolute top-50 start-50 translate-middle w-75">
        <h3 class="bg-dark text-light mx-5 p-3 text-center">Sign Up</h3>
        <form class="mx-5 p-3 d-flex flex-column border" id="signup-form">
          <div class="mb-3">
            <label for="first-name" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
            />
          </div>

          <div class="mb-3">
            <label for="last-name" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
            />
          </div>

          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
            />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
            />
          </div>
          <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <div class="mb-2">
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label
            >
            <input type="password" class="form-control" id="confirmPassword" />
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
          <p class="mb-3 pt-3 text-center">
            Already have an account?
            <a href="/login" class="link-primary">Login here!</a>
          </p>
        </form>
      </div>
    </div>